<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htht.service.platform.portal.manager.mapper.DataTemplateMapper">

    <resultMap id="dataTemplateMap" type="cn.htht.service.platform.portal.entity.manager.DataTemplate">
        <id column="id" property="id" />
        <result column="module_id" property="moduleId"/>
        <result column="search_key" property="searchKey"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="image_url" property="imageUrl"/>
        <result column="guide_file_id" property="guideFileId"/>
        <result column="handle_type" property="handleType"/>
        <result column="redirect_module_id" property="redirectModuleId"/>
        <result column="redirect_url" property="redirectUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <association property="guideFileData" javaType="cn.htht.service.platform.portal.entity.manager.FileData" resultMap="FileResult"/>
<!--        <collection property="dataTable" javaType="java.util.List" resultMap="serviceDataMap"/>-->
    </resultMap>

    <resultMap id="FileResult" type="cn.htht.service.platform.portal.entity.manager.FileData">
        <id property="id" column="fid"/>
        <result property="fileType" column="file_type"/>
        <result property="ext" column="ext"/>
        <result property="bucketName" column="bucket_name"/>
        <result property="objectName" column="object_name"/>
        <result property="fileName" column="file_name"/>
        <result property="fileTitle" column="file_title"/>
    </resultMap>

    <resultMap id="serviceDataMap" type="cn.htht.service.platform.portal.entity.manager.ServiceData">
        <id column="did" property="id" />
        <result column="data_template_id" property="dataTemplateId" />
        <result column="thumb_image_id" property="thumbImageId" />
        <result column="data_id" property="dataId" />
        <result column="data_size" property="dataSize" />
        <result column="data_name" property="dataName" />
        <result column="describe" property="describe" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="dataTemplateColumn">
        t.id, t.module_id, t.search_key, t.title, t.content, t.image_url, t.guide_file_id, t.handle_type, t.redirect_module_id, t.redirect_url,
        t.create_time, t.create_by, t.update_time, t.update_by
    </sql>

    <sql id="serviceDataColumn">
        d.id as did, d.data_template_id, d.thumb_image_id, d.data_id, d.data_size, d.data_name, d.describe
    </sql>

    <sql id="fileDtaColumn">
        f.id as fid, f.file_type, f.ext, f.bucket_name, f.object_name, f.file_name, f.file_title
    </sql>

    <sql id="selectVo">
        select <include refid="dataTemplateColumn"/>, <include refid="fileDtaColumn"/>
        from t_data_template as t
        left join t_file_data f ON t.guide_file_id = f.id
    </sql>

    <select id="getTemplateByModuleId" resultMap="dataTemplateMap">
        <include refid="selectVo"/>
        where t.module_id = #{moduleId}
    </select>


</mapper>