<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.htht.service.platform.portal.system.mapper.SystemUserMapper">

    <resultMap type="cn.htht.service.platform.portal.entity.system.SystemUser" id="SysUserResult">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="email" column="email"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="lastLoginDate" column="last_login_date"/>
        <result property="company" column="company"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <collection  property="roleList" javaType="java.util.List" resultMap="RoleResult"/>
    </resultMap>

    <resultMap id="RoleResult" type="cn.htht.service.platform.portal.entity.system.SystemRole">
        <id property="id" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="roleSort" column="role_sort"/>
        <result property="describe" column="describe"/>
        <result property="status" column="role_status"/>
    </resultMap>


    <resultMap id="UserVoResult" type="cn.htht.service.platform.portal.entity.vo.UserVo">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="company" column="company"/>
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>

    <sql id="selectUserVo">
        select u.id, u.username, u.real_name, u.email, u.phone_number, u.password, u.company, u.last_login_ip, u.last_login_date, u.status, u.del_flag, u.is_admin, u.create_time, u.update_time, u.remark,
               r.id as role_id, r.role_name, r.role_key, r.role_sort, r.describe, r.status as role_status
        from system_user u
                 left join system_user_role ur on u.id = ur.user_id
                 left join system_role r on r.id = ur.role_id
    </sql>

    <select id="selectUserList" parameterType="cn.htht.service.platform.portal.entity.system.SystemUser"
            resultMap="SysUserResult">
        select u.id, u.username, u.real_name, u.email, u.phone_number, u.password, u.company, u.last_login_ip, u.last_login_date,
               u.status, u.del_flag, u.is_admin, u.create_time, u.update_time, u.remark
        from system_user u
        where u.del_flag = 0
        <if test="username != null and username != ''">
            AND u.username like concat(concat('%',#{username}),'%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="phonenumber != null and phonenumber != ''">
            AND u.phone_number like concat(concat('%',#{phoneNumber}),'%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND u.create_time &gt;= #{params.beginTime}
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND u.create_time &lt;= #{params.endTime}
        </if>
    </select>

    <select id="selectUserByUserName" parameterType="String" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        where u.username = #{username}
    </select>

    <select id="selectUserById" parameterType="String" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        where u.id = #{userId}
    </select>

    <select id="selectUserListByUsername" resultMap="UserVoResult">
        select u.id, u.username, u.real_name, u.email, u.phone_number, u.company,
               r.id as role_id, r.role_name
        from `system_user` as u
                 left join system_user_role as ur on u.id = ur.user_id
                 left join system_role as r on r.id = ur.role_id
        where u.del_flag = 0 and is_admin = 0
        <if test="username != null and username != ''">
            AND u.username like concat(concat('%',#{username}),'%')
        </if>
    </select>

    <select id="checkUserNameUnique" parameterType="String" resultType="int">
        select count(1)
        from system_user
        where username = #{username} limit 1
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultMap="SysUserResult">
        select id, phone_number
        from `system_user`
        where phone_number = #{phoneNumber} limit 1
    </select>

    <select id="checkEmailUnique" parameterType="String" resultMap="SysUserResult">
        select id, email
        from `system_user`
        where email = #{email} limit 1
    </select>

    <insert id="insertUser" parameterType="cn.htht.service.platform.portal.entity.system.SystemUser">
        insert into `system_user`(
        <if test="id != null and id != ''">id,</if>
        <if test="username != null and username != ''">username,</if>
        <if test="realName != null and realName != ''">real_name,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="delFlag != null">del_flag,</if>
        <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
        <if test="lastLoginIp != null and lastLoginIp != ''">last_login_ip,</if>
        <if test="lastLoginDate != null and lastLoginDate != ''">last_login_date,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="company != null and company != ''">company,</if>
        <if test="isAdmin != null">is_admin,</if>
        <if test="status != null">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="id != null and id != ''">#{id},</if>
        <if test="username != null and username != ''">#{username},</if>
        <if test="realName != null and realName != ''">#{realName},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="delFlag != null">#{delFlag},</if>
        <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
        <if test="lastLoginIp != null and lastLoginIp != ''">#{lastLoginIp},</if>
        <if test="lastLoginDate != null and lastLoginDate != ''">#{lastLoginDate},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="company != null and company != ''">#{company},</if>
        <if test="isAdmin != null">#{isAdmin},</if>
        <if test="status != null">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        REPLACE(unix_timestamp(current_timestamp(3)),'.','')
        )
    </insert>

    <update id="updateUser" parameterType="cn.htht.service.platform.portal.entity.system.SystemUser">
        update `system_user`
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="phoneNumber != null ">phone_number = #{phoneNumber},</if>
            <if test="lastLoginIp != null and lastLoginIp != ''">last_login_ip = #{lastLoginIp},</if>
            <if test="lastLoginDate != null and lastLoginDate != ''">last_login_date = #{lastLoginDate}</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="company != null and company != ''">company = #{company}</if>
            <if test="isAdmin != null and isAdmin != ''">is_admin = #{isAdmin}</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>

        </set>
        where id = #{id}
    </update>

    <!--	<update id="updateUserStatus" parameterType="cn.htht.service.platform.portal.entity.system.SystemUser">-->
    <!-- 		update system_user set status = #{status} where user_id = #{userId}-->
    <!--	</update>-->

    <!--	<update id="updateUserAvatar" parameterType="cn.htht.service.platform.portal.entity.system.SystemUser">-->
    <!-- 		update `system_user` set avatar = #{avatar} where username = #{username}-->
    <!--	</update>-->

    <update id="resetUserPwd">
        update `system_user`
        set password = #{password}
        where id = #{username}
    </update>

    <delete id="deleteUserById" parameterType="String">
        update `system_user`
        set del_flag = '2'
        where id = #{userId}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        update `system_user` set del_flag = '2' where id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper> 